![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [24]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

# Start coding here...

#Ejercicio 1
#Filtrado de Columnas
listax=schools[["school_name","average_math"]]
#Condicion que la columna average_math
best_math_schools= schools[schools["average_math"]>=640]
# Seleccionar solo las columnas 'school_name' y 'average_math'
best_math_schools = best_math_schools[["school_name", "average_math"]]
#Ordenar de forma Descendente average_math
best_math_schools=best_math_schools.sort_values(by="average_math", ascending=False )
#imprimir el encabezado de tabla
print(best_math_schools.head())


#Ejercicio 2
#Creo las columnas y voy sumando segun lo solicitado
schools["total_SAT"]=schools["average_math"]+schools["average_reading"]+schools["average_writing"]
#Crear nuevo Dataset, Considerando las nuevas columnas y ordenandolas
top_10_schools=schools[["school_name","total_SAT"]].sort_values(by="total_SAT", ascending=False )
# Limitar los resultados a solo 10 escuelas
top_10_schools = top_10_schools.head(10)
#Imprimir los Primeros 10 Resultados
print(top_10_schools)

#Ejercicio 3
# Asegurarse de que existe la columna 'total_SAT'
if 'total_SAT' not in schools.columns:
    schools['total_SAT'] = schools['average_math'] + schools['average_reading'] + schools['average_writing']
#Agrupo los estados por distrito con groupby y ademas calculo la cantidad, la media y el desvio estandar
borough_stats=schools.groupby("borough").agg(
    num_schools=("school_name","count"), #Caluclo la cantidad de escuelas
    average_SAT=("total_SAT","mean"), #Calculo la media de total_SAT
    std_SAT=("total_SAT","std") #Calculo el desvio standar de total_SAT
).round(2)
print(borough_stats.head())
#Busco utilizando loc un std_SAT 
largest_std_dev = borough_stats.loc[borough_stats['std_SAT'] == borough_stats['std_SAT'].max()]
print(largest_std_dev.head())

# Add as many cells as you like...

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889
               num_schools  average_SAT  std_SAT
borough
Bronx                   98      1202.72   150.39
Brooklyn               109      1230.26   154.87
Manhattan               89      1340.13   230.29
Queens                  69      1345.48   195.25
Staten Island           10      1439.00   222.30
           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29